name: CI

on: [pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Cache dependencies
        id: root-node-modules-cache
        uses: actions/cache@v4
        with:
          path: "node_modules"
          key: ${{ runner.os }}-modules-${{ hashFiles('./yarn.lock') }}

      - name: Install root dependencies
        run: yarn --frozen-lockfile

      - name: Run lint and tests
        run: yarn lint

      - name: Run tests
        run: yarn test:ci
